html, body { padding: 0; background: #e9f1e6; }

body {
  background-image: url(../images/grass2.jpg);
  background-repeat: no-repeat;
  background-position: 0 -120px;
}

@media(min-width: 768px) {
  body { padding-bottom: 40px; }
}

header {
  padding: 16px 0;
}

#title {
  text-align: center;
  font-size: 2.2em;
  margin: 0 0 16px 0;
  text-shadow: 0 0 5px #000000;
  color: #ffffff;
}
h1 {
  color: #81a594;
  text-shadow: 0 0 3px rgba(50, 50, 50, 0.1);
  border-bottom: solid 1px #e0e0e0;
  padding-bottom: 6px;
}
h2 {
  color: #00628b;
  text-shadow: 0 0 3px rgba(50, 50, 50, 0.1);
}

.nav { text-align: center; }
.nav > li > a {
  padding: 4px 8px;
  color: #dddddd;
  text-shadow: 0 0 1px black;
}
.nav-pills > li {
  margin: 0 10px;
}
.nav-pills > li > a:hover {
  background: none;
  color: white;
}
.nav-pills > li {
  display: inline-block;
  float: none;
}
.nav-pills > li.active > a {
  background: none;
  color: #ddffdd;
}
.nav-pills > li.active > a:hover {
  background: none;
  color: #ddffdd;
}

div[role=main] {
  background: white;
}
@media(min-width: 768px) {
  div[role=main] {
	background: none;
  }
}

div[role=content] {
  padding: 0 0.5em 1em 0.5em;
  background: none;
  margin: 0 auto;
}
@media(min-width: 768px) {
  div[role=content] {
  	padding: 0 1.5em 1em 1.5em;
	border: 1px solid #b3b3b3;
	border-radius: 4px;
	background: white;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1), inset 0 1px 0 #ffffff;
  }
}

footer {
  text-align: center;
  font-size: 0.75em;
  clear: both;
}

li { margin-bottom: 0.5em; }
li:last-child { margin-bottom: 0; }

ul.flat {
  list-style-type: none;
  padding: 0;
}

ul.citations li {
  padding-left: 1em;
  text-indent: -1em;
}

th, td {
  padding: 4px 0;
  padding-right: 2em;
  vertical-align: top;
}
tr th:last-child,
tr td:last-child {
  padding-right: 0;
}

table#education td,
table#work td {
  border-bottom: solid 1px #d0d0d0;
}
table#education tr:last-child > td,
table#work tr:last-child > td {
  border-bottom: none;
}

table#skills { margin: 1em 0; }
table#skills ul { margin: 0; }
table#skills th {
  font-style: italic;
  font-weight: normal;
  text-align: left;
}
table#skills thead,
table#skills tbody {
  border-bottom: solid 1px #d0d0d0;
}
table#skills tbody:last-child {
  border-bottom: none;
}
table#skills tbody th,
table#skills tbody td {
  padding-right: 1.5em;
  vertical-align: top;
}
td.col-degree, td.col-employer { width: 40%; }
td.col-school, td.col-title { width: 30%; }
td.col-date { width: 20%; }

.transcript .gpa { text-decoration: underline; }
.transcript .degree {
  font-weight: bold;
  font-size: 110%;
}
.transcript table {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 1em;
}
.transcript table th {
  text-align: left;
  padding-right: 1.5em;
}
.transcript table td {
  padding-right: 1em;
  vertical-align: top;
}
.transcript table .col-number { width: 5em; }
.transcript table .col-title { width: 15em; }
.transcript table .col-hours { width: 4em; }
.transcript table .col-grade { width: 4em; }
.transcript table .col-when { width: 7em; }
.courses dt {
  display: block;
  font-weight: bold;
  margin-bottom: 0.5em;
}
.courses dd {
  margin-bottom: 1em;
  margin-left: 1em;
}
